body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
    
}

.top{
    height: 130px;
    width: 100%;
    background-color: #4267B2;
}

#logo{
    width: 70%;
    height: auto;
    float: left;
}

#logo h3{
    color: white;
    font-size: 40px;
}

#nameNV{
    width: 30%;
    height: auto;
    float: left;
    margin-top: 55px;
    font-weight: bold;
}
 #nameNV p{
     float: left;
     padding-right: 15px;
     color: white;
     
 }

.dangxuat{
    margin-top: 15px;
    float: left;
}

 .logout{
     background: url(images/logout.png) no-repeat;
     text-decoration: none;
     color: white;
     padding-left: 20px;
 }

 .logout a:hover,  .logout a:visited{
     color: white;
 }

 .onesp{
     border: solid 1px #d0d0d0;
     border-radius: 7px;
     width: 280px;
     height: 374px;
     margin-top: 2%;
     margin-right: 4%;
     margin-left: 4%;
     float: left;
 }

 .thumbnail{
    text-align: center;
    height: 240px;
 }

 .hinhsp{
     width: 240px;
     height: 240px;
     padding: 0px;
     margin: 0px;
 }

 .text{
     text-align: center;
 }

 .tensp{
     margin-bottom: 3%;
     font-weight: bold;
     color: #4267B2;
 }

 .price{
    margin-bottom: 3%;
    font-weight: bold;
     color: #4267B2;
 }

 .float{
     float: left;
     width: 100%;
     margin-bottom: 10%;
 }

 #btSua{
     background: #4267B2;
     color: white;
     font-weight: bold;
     font-size: 20px;
     border: none;
     border-radius: 7px;
     margin-bottom: 2%;
 }
 
 .brandprice{
 	text-decoration: none;
    color: #4267B2;
    font-weight: bold;
    border: solid 1px;
    padding: 7px;
    margin: 7px;
 }
 
  .brandprice a{
 	text-decoration: none;
    color: #4267B2;
    font-weight: bold;
    border: solid 1px;
    padding: 7px;
    margin: 7px;
 }
