body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
    
}

.top{
    height: 130px;
    width: 100%;
    background-color: #4267B2;
}

#logo{
    width: 70%;
    height: auto;
    float: left;
}

#logo h3{
    color: white;
    font-size: 40px;
}

#nameNV{
    width: 30%;
    height: auto;
    float: left;
    margin-top: 55px;
    font-weight: bold;
}
 #nameNV p{
     float: left;
     padding-right: 15px;
     color: white;
     
 }

.dangxuat{
    margin-top: 15px;
    float: left;
}

 .logout{
     background: url(images/logout.png) no-repeat;
     text-decoration: none;
     color: white;
     padding-left: 20px;
 }

 .logout a:hover,  .logout a:visited{
     color: white;
 }

 .bang1{
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.bang1 tr th{
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.bang1 tr td{
    padding-bottom: 20px;
}

.txtsp{
    padding: 10px 50px 10px 8px;
    
}

.hinhanh{
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#btthem{
    float: left;
    border: none;
    border-radius: 7px;
    background-color: #4267B2;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

#btreset{
    float: left;
    border: none;
    border-radius: 7px;
    background-color: #E94335;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
}

.btsub{
    margin-left: 40%;
}

.footer{
    height: 70px;
}


#upImage{
    float: right;
    margin-top: 20px;
    border: none;
}

#left{
    float: left;
}

#right{
    float: left;
    height: 500px;
}

.fchucvu{
    padding: 10px 59.5% 10px 10px;
}