<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>web-mobile</display-name>
  <welcome-file-list>
    <welcome-file>trang-chu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>trang-chu.jsp</servlet-name>
    <jsp-file>/trang-chu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>trang-chu.jsp</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dang-ky.jsp</servlet-name>
    <jsp-file>/dang-ky.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dang-ky.jsp</servlet-name>
    <url-pattern>/dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dang-nhap.jsp</servlet-name>
    <jsp-file>/dang-nhap.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dang-nhap.jsp</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact.jsp</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact.jsp</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cau-hoi.jsp</servlet-name>
    <jsp-file>/cau-hoi.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cau-hoi.jsp</servlet-name>
    <url-pattern>/cau-hoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doi-tra.jsp</servlet-name>
    <jsp-file>/doi-tra.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doi-tra.jsp</servlet-name>
    <url-pattern>/doi-tra</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phuong-thuc-thanh-toan.jsp</servlet-name>
    <jsp-file>/phuong-thuc-thanh-toan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>phuong-thuc-thanh-toan.jsp</servlet-name>
    <url-pattern>/phuong-thuc-thanh-toan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>so-sanh.jsp</servlet-name>
    <jsp-file>/so-sanh.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>so-sanh.jsp</servlet-name>
    <url-pattern>/so-sanh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ket-qua-so-sanh.jsp</servlet-name>
    <jsp-file>/ket-qua-so-sanh.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ket-qua-so-sanh.jsp</servlet-name>
    <url-pattern>/ket-qua-so-sanh</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>AUto2kIFoFUBohXTAbmnQICEOAPxW3MZGCilm3LV9A6Yd9JUN-Gd2m_p0kWZTVlsKiE0b3N4N0wAt7Uw</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>1551010084nguyen-facilitator@ou.edu.vn</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://localhost:8081/web-mobile/mua-thanh-cong.jsp</param-value>
  </context-param>
</web-app>